/src/requester/public/storage
/src/requester/public/hot
/src/requester/storage/*.key
/src/requester/npm-debug.log
/.idea

/src/worker/public/storage
/src/worker/public/hot
/src/worker/storage/*.key
/src/worker/npm-debug.log
/data
/data2

/src/node_modules
/src/core/public/storage
/src/core/public/hot
/src/core/storage/*.key
/src/core/npm-debug.log
/src/core/npm-debug.log

/task_pipelines/dropbox/node_modules
/task_pipelines/twitter/node_modules
/task_pipelines/twitter/file.csv

/requester/node_modules
/worker/node_modules
