/requester/node_modules
/requester/public/storage
/requester/public/hot
/requester/storage/*.key
/.idea

/worker/node_modules
/worker/public/storage
/worker/public/hot
/worker/storage/*.key
/worker/npm-debug.log
/requester/npm-debug.log
/data